<h1>To Do List</h1>
<%= link_to 'New Task', new_to_do_path %><br>
<%= link_to 'New Project', new_project_path %><br>
<ul>
<% if @to_dos.length == 0  %>
	<p>No jobs to do... woohooo!</p>
<% else %>
	<% @projects.each do |project| %>
		<% if project.to_do.length > 0 %>
			<h4><%= project.name %></h4>
			<ul>
				<% project.to_do.each do |to_do| %>
					<li><button><%= link_to 'Done', to_do_path(to_do),method: :delete,data: {confirm: 'Are you sure?'} %></button> <%= to_do.task %></li>
				<% end %>
			</ul>
		<% else %>
		<% end %>
	<% end %>	
<% end %>


