<h1>New To do for you?</h1>

<%= form_for :to_do, url: to_dos_path do |f| %>
	<% if @to_do.errors.any? %>
		<div id="error-explanation">
			<h2><%= pluralize(@to_do.errors.count, "error" )%></h2>
			
			<ul>
				<% @to_do.errors.full_messages.each do |msg|%>
					<li><%=msg%></li>
				<% end %> 
			</ul>

		</div>	
	<% end %>

	<p>
		<%= f.label :task %>
		<%= f.text_field :task %><br>
		<% projects_array = @projects.map{|project| [project.name, project.id]} %>
		<% users_array = @users.map{|user| [user.email, user.id]} %>
		<%= f.select(:project_id, options_for_select(projects_array)) %>
		<%= f.select(:user_id, options_for_select(users_array)) %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
<p><%= debug(params) %></p>